@charset "UTF-8";



:root {
    --fonte-padrao: "Arial", Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background: black url(../imagens/background.png) center center no-repeat fixed;
    background-size: cover;
    font-family: var(--fonte-padrao);
    min-width: 100%;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 20px;
    margin: 0px 30px;
}

header > h1 {
    font-size: clamp(24px, 8vw, 50px); /* ajusta conforme o tamanho da tela */
}

nav {
    display: flex;
    padding: 5px 5px;
    border-radius: 8px;
    z-index: 10;
}


nav ul {
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: clamp(14px, 2vw, 20px); /* tamanho responsivo */
}


nav a {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #D2D6D9;
    color: #0D0D0D;
    transition-duration: 0.5s;
}

@media (max-width: 600px) {
    nav ul {
        display: block;
        
    }

    nav ul a {
        display: block;
        margin-bottom: 10px;
        text-align: right;
    }
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens {
    max-width: 100%;
    height: auto;
}